body{
    font-family: 'Merriweather', serif;
}
 /* game banner style   */
.game-start{
    background-color: navy;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 20px;
    margin-bottom: 80px;
    
}
.game-details{
    font-size: 60px;
    color: white;
    margin: 60px;
    padding:0px; 
}
.buttom{
    color: oldlace;
    background-color: red;
    font-size: 30px;
    margin-left: 10px;
    border-radius: 5px;
    text-decoration: none;  
}
.img-banner img{
    width: 90%;
}
/* <!-- Top Players style --> */

.Top-players{
    display: grid;
    width: 60%;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 60px;
    margin-left: 400px;
    margin-bottom: 50px; 
}
.Player{
    height: 100%;
   width: 80%;
   padding: 10px;
   box-shadow: 5px 5px 5px 5px gray;
   
}
.photo img{
    width: 100%;
}
.player-details{
    font-size: 30px;
}

.image-icon img{
   
    margin-left: 450px;
}
.socal-icon{
    font-size: 30px;
    text-align: center;
}